# bscscan/etherscan api key for verification
BSC_API_KEY="M4JTX8Y4S2KPWYH22F1KA881CT9P8GRK6P"
# Polygonscan API KEY for verification
POLYGON_API_KEY="WGCE37PNNAJUET1T9TBT9I55X541CX1W84"
# Etherscan API KEY for verification
ETHERSCAN_API_KEY="EACSKIR8ZVQMZKJ7BUTC1P1WCQ2BZEQSX2"
# FTMScan API KEY for verification
FTMSCAN_API_KEY="EAG2BWGXY9IYHWXSI9D57BRQVP93P88VE6"
# Moonriver API KEY for verification
MOONRIVER_API_KEY="C8VXSRX7PW43UDHQUZK1VKACXE6WC6C83U"
# Moonbeam API KEY for verification
MOONBEAM_API_KEY="TUSR6ADD9U7WM3AP1IFSI6MUM9ISABJH81"

# private key for deployment on networks
TESTNET_DEPLOYER=""
ETH_DEPLOYER=""
POLY_DEPLOYER=""
BSC_DEPLOYER=""
FANTOM_DEPLOYER=""
MOONBEAM_DEPLOYER=""

# mnemonic for test on development network (ganache)
MNEMONIC="fold goat expire slot deer lesson canal trigger hat best soft car"

# Blockchain network provider URI
MAINNET_PROVIDER="https://eth-mainnet.alchemyapi.io/v2/XuP3BTB4BrdS7yg8fpu-FqE9WyZYTF6e"
GOERLI_PROVIDER="https://eth-goerli.alchemyapi.io/v2/POL5Hhoc2Ec-lua0sA9Daq7Gp9txbblP"
BSC_TESTNET_PROVIDER="https://data-seed-prebsc-1-s1.binance.org:8545"
BSC_MAINNET_PROVIDER="https://bsc-dataseed.binance.org/"
MUMBAI_POLYGON_PROVIDER="https://polygon-mumbai.g.alchemy.com/v2/ZuMhgMreGajiyyNWw4f_Hjrs3aJhpiBY"
MATIC_POLYGON_PROVIDER="https://polygon-mainnet.g.alchemy.com/v2/7MVuQuAf2RXu8D1JHz--Arz4n0NZGW9c"
FANTOM_TESTNET_PROVIDER="https://xapi.testnet.fantom.network/lachesis"
FANTOM_MAINNET_PROVIDER="https://rpc.ftm.tools/"
MOONBEAM_MAINNET_PROVIDER="https://moonbeam.public.blastapi.io"
MOONRIVER_TESTNET_PROVIDER="https://moonriver.public.blastapi.io"